<div class="top-container">
  <div class="title-picture-container">
    <div class="picture-content">
      <img src="{{ picture }}" alt="{{ name }}">
    </div>
    <div class="right-picture">
      <twig:Title htmlTag="h1" value="{{ name }}" upper="{{ true }}"></twig:Title>
      <twig:Title htmlTag="span" theme="title-5" value="{{ baseline }}"></twig:Title>
    </div>
  </div>
</div>